.cards-warper{
    display: flex;
    flex-direction: row;
    width: 100%;
  justify-content: center;
      
}
@media only screen and (max-width: 800px) {
    .cards-warper{
        display: flex;
        flex-direction: column;  
        overflow-x: hidden;
    }

    
  }
  
.content-card{
text-align: center;
}
.price{
    color: rgb(41, 155, 47) !important;
    font-size: 18px !important;
}

.edit-button{
    width:100% !important;
    background-color: whitesmoke !important;
    font-size: 14px !important;
    font-weight: 800 !important;
    border-radius: 20px !important;
}
.product_name{
    font-size: 20px !important;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    max-width: 350px !important;
    min-width: 240px !important;
}
.edit-button:hover{
    background-color: rgb(214, 240, 211) !important;
}